<div class="container">
  <app-header></app-header>

  <!-- Passcode screen -->
  <div *ngIf="!passcodeEntered" class="container mt-4">
    <input
      type="password"
      class="form-control w-50 mx-auto mt-3 custom-passcode"
      placeholder="Enter passcode"
      [(ngModel)]="passcode"
      (keyup)="checkPasscode()"
    />
  </div>

  <!-- Main app content -->
  <div *ngIf="passcodeEntered" class="container mt-4">
    <label for="dateRange" class="form-label custom-label">
      Select date range for response
    </label>
    <select
      class="form-select custom-input"
      id="dateRange"
      (change)="handleDateRangeChange($event)"
    >
      <option value="all" selected>All</option>
      <option value="last month">Last month</option>
      <option value="last 3 months">Last 3 months</option>
      <option value="last 6 months">Last 6 months</option>
      <option value="last year">Last year</option>
      <option value="custom date range">Custom date range</option>
    </select>

    <div *ngIf="showCustomDates" class="mt-3">
      <label for="fromDate" class="form-label custom-label">From</label>
      <input
        type="date"
        class="form-control custom-input"
        id="fromDate"
        onkeydown="return false"
        [min]="minDate"
        [max]="maxDate"
        [(ngModel)]="fromDate"
      />
      <label for="toDate" class="form-label custom-label mt-2">To</label>
      <input
        type="date"
        class="form-control custom-input"
        id="toDate"
        onkeydown="return false"
        [min]="minDate"
        [max]="maxDate"
        [(ngModel)]="toDate"
      />
    </div>
    <div>
      <button
        class="btn btn-primary mt-3"
        (click)="submitDateRange()"
        [disabled]="showCustomDates && (!fromDate || !toDate)"
      >
        Submit
      </button>
    </div>
  </div>

  <!-- Loading spinner -->
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Toasts -->
  <div
    class="toast-container position-fixed top-0 end-0 p-3"
    style="z-index: 9999"
  >
    <div
      *ngIf="toastVisible"
      class="toast align-items-center text-bg-{{ toastType }} border-0 show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">{{ toastMessage }}</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          (click)="toastVisible = false"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
