.custom-label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #b74592;
}

.custom-input {
  width: 200px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* higher than other elements */
}
